# -------- Python cache --------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------- Kortex SDK --------
kortex_api-*.whl

# -------- Logs --------
*.log

# -------- Temp files --------
*.tmp
*.temp

# -------- VS Code --------
.vscode/
.history/

# -------- OS junk --------
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# --------- Samples --------
calibration_samples.json
session.csv
*.csv

# -------- Python build/dist --------
build/
dist/
*.egg-info/
